.recent-item {
    background-color: #1e293b;
    padding: 30px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    width: 300px;
    justify-content: space-between;
  }
  
  .recent-logo {
    width: 100px;
    height: 100px;
  }
  .recent-team {
    color: #ffffff;
    font-size: 24px;
    text-align: center;
  }
  .result {
    color: #ffffff;
    font-size: 20px;
    font-weight: 300;
    text-align: center;
  }
  .lost {
    color: #e31a1a;
    font-size: 24px;
  }
  .win {
    color: #18ed66;
    font-size: 24px;
  }
  
  @media screen and (max-width: 768px) and (min-width:577px) {
    .recent-item {
      width: 150px; 
      padding: 15px;
      margin: 10px; 
    }
    .recent-logo {
      width: 70px;
      height: 70px;
    }
    .recent-team {
      font-size: 14px;
    }
    .result {
      font-size: 12px;
    }
    .lost{
      font-size: 20px;
    }
    .win{
      font-size: 20px;
    }
  }
