.bgm {
    background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-sm-bg.png');
    background-size: cover;
    padding: 50px;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .ipl-link {
    text-transform: none;
  }
  
  @media (min-width: 768px) {
    .bgm {
      background-image: url('https://assets.ccbp.in/frontend/react-js/ipl-dashboard-lg-bg.png');
    }
  }
  .logo-section { 
    display: flex;
    align-items: center;
    margin-bottom: 20px;
  }
  .ipl-logo {
    width: 60px;
  }
  .logo-heading {
    color: #ffffff;
    font-family: 'Bree Serif';
    font-size: 40px;
    margin-left: 10px;
  }
  .teams-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 750px;
  }
  @media (max-width: 700px) {
    .teams-section {
      width: 400px;
    }
  }
  